[submodule "Thesis"]
	path = Thesis
	url = git@github.com:ALICE-InRu/Thesis.git
[submodule "Data"]
	path = Data
	url = git@github.com:ALICE-InRu/Data.git

[submodule "Code"]
	path = Code
	url = git@github.com:ALICE-InRu/Code.git
